<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 配置ip -->
        <property name="hostName" value="${redis.host}"/>
        <!-- 配置port -->
        <property name="port" value="${redis.port}"/>
        <!-- 是否使用连接池-->
        <property name="usePool" value="${redis.usePool}"/>
        <!-- 配置redis连接池-->
        <property name="poolConfig" ref="poolConfig"/>
    </bean>
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大空闲实例数-->
        <property name="maxIdle" value="${redis.maxIdle}" />
        <!--最大活跃实例数-->
        <property name="maxTotal" value="${redis.maxTotal}" />
        <!--创建实例时最长等待时间-->
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}" />
        <!--创建实例时是否验证-->
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
    </bean>
    
    <!-- 配置redis集群-->
    <bean id="clusterConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="maxRedirects" value="3"></property>
        <property name="clusterNodes">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis.host1}"></constructor-arg>
                    <constructor-arg value="${redis.port1}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg value="${redis.host2}"></constructor-arg>
                    <constructor-arg value="${redis.port2}"></constructor-arg>
                </bean>
                ......
            </set>
        </property>
    </bean>
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 配置redis连接池-->
        <constructor-arg ref="poolConfig"></constructor-arg>
        <!-- 配置redis集群-->
        <constructor-arg ref="clusterConfig"></constructor-arg>
        <!-- 是否使用连接池-->
        <property name="usePool" value="${redis.usePool}"/>
    </bean>
    
</beans>